.vs/

OneShot ModLoader/obj
OneShot ModLoader/Properties

# everything in bin except audio/sprites/fonts
OneShot ModLoader/bin/
!OneShot ModLoader/bin/Audio
!OneShot ModLoader/bin/Sprites
!OneShot ModLoader/bin/Fonts